<h1><%= @schoolclass.title%></h1>
<h1><%= @schoolclass.room_number%></h1>


<%= button_to "Edit School Class", edit_school_class_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
